@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Barlow-Regular.woff") format("woff");
}

body {
    font-family: Barlow, sans-serif;
}

a {
    color: #FFFFFF;
}

p {
    font-size: 1rem;
}

#feeds-container {
    height: 100vh;
}

/* Media query for laptops and smaller screens */
@media (max-width: 1200px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 1.6rem;
    }

    p {
        font-size: 0.9rem;
    }
}

/* Media query for 4K TVs and larger screens */
@media (min-width: 2000px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 6rem;
    }

    p {
        font-size: 3rem;
    }

    .feed-description {
        margin-top: 5rem !important;
    }
}
