@font-face {
    font-family: "Barlow";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Barlow-Regular.woff") format("woff");
}

body {
    font-family: Barlow, sans-serif;
}

a {
    color: #FFFFFF;
}

header {
  border-bottom: 5px solid #FFFFFF;
  flex: 0 1 auto;
  padding: 1rem;
}

@media (min-width: 1280px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.10rem;
  }
}

@media (min-width: 1920px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.25rem;
  }
}

@media (min-width: 3840px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  p {
    font-size: 2rem;
  }
}

@media (min-width: 4096px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 2.25rem;
  }
}
