.CalendarOverview {
  &.secondary-card {
    .calendar {
      display: flex;
      flex-direction: column;

      .calendar-header {
        color: var(--theme-color-tertiary);
      }

      .calendar-weekdays {
        color: var(--theme-color-tertiary);
        margin-bottom: 0;
      }

      .calendar-grid {
        display: grid;
        border-color: var(--theme-color-tertiary);

        .calendar-cell {
          padding: 0.2rem;
          border-color: var(--theme-color-tertiary);
          color: var(--theme-color-tertiary);

          &:nth-child(7n + 1) {
            color: var(--theme-color-accent);
          }

          &.current-day {
            &::before {
              background-color: transparent;
            }

            background-color: var(--theme-color-tertiary);
            color: var(--theme-color-primary);
          }

          &.other-month {
            color: #FFFFFFBB;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1279px) and (orientation: landscape) {
  .CalendarOverview {
    &.secondary-card {
      .calendar {
        .calendar-header {
          font-size: 0.85rem;
        }

        .calendar-weekdays {
          font-size: 0.65rem;
        }

        .calendar-grid {
          border-width: 0.1rem;

          .calendar-cell {
            border-right-width: 0.1rem;
            border-bottom-width: 0.1rem;
            font-size: 0.65rem;
            padding: 0.2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) and (orientation: landscape) {
  .CalendarOverview {
    &.secondary-card {
      .calendar {
      }
    }
  }
}

@media screen and (min-width: 1920px) and (max-width: 3839px) and (orientation: landscape) {
  .CalendarOverview {
    &.secondary-card {
      .calendar {
      }
    }
  }
}

@media screen and (min-width: 3840px) and (orientation: landscape) {
  .CalendarOverview {
    &.secondary-card {
      .calendar {
      }
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 719px) and (orientation: portrait) {
  .CalendarOverview {
    &.secondary-card {
      .calendar {
      }
    }
  }
}

@media screen and (min-width: 720px) and (max-width: 1079px) and (orientation: portrait) {
  .CalendarOverview {
    &.secondary-card {
      .calendar {
      }
    }
  }
}

@media screen and (min-width: 1080px) and (max-width: 2159px) and (orientation: portrait) {
  .CalendarOverview {
    &.secondary-card {
      .calendar {
      }
    }
  }
}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  .CalendarOverview {
    &.secondary-card {
      .calendar {
      }
    }
  }
}
