/* stylelint-disable media-feature-range-notation */

/* Specific Layout & Module Styles */

/* ---------Clock Element------------ */

.clock-container {
  width: clamp(8.5vw, 35vw, 45vw);
  height: clamp(8.5vw, 35vw, 45vw);
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.clock-container .clock {
  width: clamp(7vw, 29vw, 38vw);
  height: clamp(7vw, 29vw, 38vw);
  border-radius: 50%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock .number-hours,
.clock .seconds-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.seconds-bar span {
  position: absolute;
  transform: rotate(calc(var(--index) * 45deg));
  inset: clamp(-0.5vw, -2vw, -3vw);
  text-align: center;
}

.clock .seconds-bar span p {
  width: clamp(0.1vw, 0.5vw, 0.5vw);
  display: inline-block;
  border-radius: clamp(0.05vw, 2vw, 2vw);
}

.clock .seconds-bar span:nth-child(5n) p {
  background: var(--theme-color-primary);
  width: clamp(0.15vw, 0.3vw, 0.7vw);
  height: clamp(0.5vw, 1.2vw, 2.5vw);
  /* transform: translateY(clamp(0.03vw, 0.1vw, 0.15vw)); */
}

.hands-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hands-box .hand {
  position: absolute;
  display: flex;
  justify-content: center;
}

.hands-box .hour {
  width: clamp(5.2vw, 19vw, 25vw);
  height: clamp(5.2vw, 25vw, 49vw);
}

.hands-box .hour i {
  width: clamp(0.2vw, 0.7vw, 1vw);
  height: clamp(5.5vw, 13vw, 39vw);
  background: #fff;
  position: absolute;
  box-shadow: 0 0 clamp(0.6vw, 3vw, 4.2vw) 0 rgb(0 0 0 / 97%);
}

.hands-box .hour i::before {
  content: "";
  position: absolute;
  height: clamp(2vw, 10.5vw, 15vw);
  width: clamp(0.3vw, 1.5vw, 2.1vw);
  bottom: clamp(0.6vw, 3vw, 4.2vw);
  left: 50%;
  transform: translateX(-50%);
  border-radius: clamp(0.4vw, 2vw, 2.8vw);
  background: var(--theme-color-primary);
  z-index: 2;
  box-shadow: 0 0 clamp(0.5vw, 2.4vw, 3.4vw) 0 rgb(0 0 0 / 26%);
}

.hands-box .hour i::after {
  content: "";
  position: absolute;
  height: clamp(2.2vw, 11.5vw, 16.1vw);
  width: clamp(0.5vw, 2.6vw, 3.6vw);
  bottom: clamp(0.5vw, 2.5vw, 3.5vw);
  left: 50%;
  transform: translateX(-50%);
  border-radius: clamp(0.5vw, 2.5vw, 3.5vw);
  background: #fff;
  z-index: 1;
}

.hands-box .minute {
  width: clamp(6vw, 26vw, 34vw);
  height: clamp(6vw, 31vw, 34vw);
}

.hands-box .minute::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(0.5vw, 2.5vw, 3.5vw);
  height: clamp(0.5vw, 2.5vw, 3.5vw);
  background: #fff;
  border-radius: clamp(0.5vw, 2.5vw, 3.5vw);
  z-index: 999;
}

.hands-box .minute i {
  width: clamp(0.2vw, 0.7vw, 1vw);
  height: clamp(3.5vw, 15vw, 26.6vw);
  background: #fff;
  position: absolute;
  box-shadow: 0 0 clamp(0.6vw, 3vw, 4.2vw) 0 rgb(0 0 0 / 97%);
}

.hands-box .minute i::before {
  content: "";
  width: clamp(0.5vw, 2.6vw, 3.6vw);
  height: clamp(4vw, 15.5vw, 28.7vw);
  background: #fff;
  position: absolute;
  bottom: clamp(0.5vw, 2.5vw, 3.5vw);
  left: 50%;
  transform: translateX(-50%);
  border-radius: clamp(0.5vw, 2.5vw, 3.5vw);
  z-index: 1;
  box-shadow: 0 0 clamp(0.5vw, 2.4vw, 3.4vw) 0 rgb(0 0 0 / 26%);
}

.hands-box .minute i::after {
  content: "";
  width: clamp(0.3vw, 1.5vw, 2.1vw);
  height: clamp(3.8vw, 14.5vw, 27.3vw);
  background: var(--theme-color-primary);
  position: absolute;
  bottom: clamp(0.6vw, 3.1vw, 4.3vw);
  left: 50%;
  transform: translateX(-50%);
  border-radius: clamp(0.4vw, 2vw, 2.8vw);
  z-index: 2;
}

.hands-box .second {
  width: clamp(7vw, 29vw, 38vw);
  height: clamp(7vw, 31vw, 38vw);
}

.hands-box .second::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(0.3vw, 1.6vw, 2.2vw);
  height: clamp(0.3vw, 1.6vw, 2.2vw);
  background: #F7410A;
  border-radius: clamp(0.5vw, 2.5vw, 3.5vw);
  z-index: 3;
}

.hands-box .second::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: clamp(0.15vw, 0.8vw, 1.1vw);
  height: clamp(0.15vw, 0.8vw, 1.1vw);
  background: var(--theme-color-primary);
  border-radius: clamp(0.5vw, 2.5vw, 3.5vw);
  z-index: 4;
}

.hands-box .second i {
  width: clamp(0.08vw, 0.4vw, 0.56vw);
  height: clamp(5vw, 21vw, 36.4vw);
  background: #F7410A;
  position: relative;
  border-radius: clamp(0.04vw, 0.2vw, 0.28vw);
}

.hands-box .second i::before {
  content: '';
  width: clamp(0.08vw, 0.4vw, 0.56vw);
  height: clamp(0.9vw, 4.5vw, 6.3vw);
  background: #F7410A;
  position: absolute;
  bottom: clamp(-0.8vw, -4.1vw, -5.7vw);
  left: 50%;
  transform: translateX(-50%);
  border-radius: clamp(0.1vw, 0.5vw, 0.7vw);
}

/* ---------Clock End----------- */

.primary-card-clock {
  line-height: 1;
  font-size: 8rem;
  color: var(--theme-color-tertiary);
}


.secondary-card-number-container {
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
  align-items: baseline;
}


.secondary-card-number {
  /* font-size: 14.5rem; */
  /* font-size: clamp(1rem, 11vw + 1rem, 18rem); */
  font-size: clamp(1rem, 11vw + 5vh, 1000rem);
  color: var(--theme-color-primary);
  /* letter-spacing: 1rem; */
}

.secondary-card-time-am-pm {
  /* font-size: 4rem; */
  font-size: clamp(1rem, .5vw + 5vh, 1000rem);
  color: var(--theme-color-secondary);
}

.info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.brand-logo {
  width: 12rem;
}


.info-text {
  font-size: 1.75rem;
  color: var(--theme-color-primary);
}

.date-card {
  gap: 0.25rem;
}


.date-text {
  font-size: 5rem;
  color: var(--theme-color-secondary);
}


.date-number {
  line-height: 1;
  font-size: 10rem;
  color: var(--theme-color-primary);
}

.clock-container {
  /* transform: scale(var(--scale-factor)); */
  /* transform: scale(10); */
}

/* Media Query */

/* 480px 720px Clock Container need to fix */

/* TODO: Fix the Clock Circle issue : When Scale to .5, circle change to oval */


@media (orientation: portrait) {
  .main-container {
    gap: clamp(1rem, 1.5vh, 5rem);
  }

  .secondary-container {
    gap: clamp(1rem, 1.5vh, 5rem);
  }

  .row-container {
    gap: clamp(1rem, 1.5vh, 5rem);
  }


  .secondary-card-number {
    font-size: clamp(1rem, 10vw + 5vh, 18rem);
  }

  .time-container {
    height: 45%;
  }

  .info-container {
    height: 55%;
  }

}



/* @media screen and (min-width: 480px) and (orientation: portrait) {
  .clock-container {
    transform: scale(.7);
  }

  .secondary-card-number-container {
    gap: 1rem;
  }

  .secondary-card-number {
    font-size: 8rem;
    letter-spacing: .5rem;
  }

  .secondary-card-time-am-pm {
    font-size: 2.5rem;
  }

  .brand-logo {
    width: 5rem;
  }

  .info-text {
    font-size: 1rem;
  }

  .info-card {
    gap: 1.5rem;
  }

  .date-text {
    font-size: 3.5rem;
  }

  .date-number {
    font-size: 7rem;
  }

} */

/* @media screen and (min-width: 720px) and (orientation: portrait) {
  .clock-container {
    transform: scale(1);
  }

  .secondary-card-number-container {
    gap: 1rem;
  }

  .secondary-card-number {
    font-size: 11rem;
  }

  .secondary-card-time-am-pm {
    font-size: 3rem;
  }

  .brand-logo {
    width: 9rem;
  }

  .info-text {
    font-size: 1.25rem;
  }

  .info-card {
    gap: 1.5rem;
  }

  .date-text {
    font-size: 6rem;
  }

  .date-number {
    font-size: 10rem;
  }

}

@media screen and (min-width: 800px) and (orientation: landscape) {
  .clock-container {
    transform: scale(.5);
  }

  .secondary-card-number-container {
    gap: 1rem;
  }

  .secondary-card-number {
    font-size: 6rem;
    letter-spacing: .5rem;
  }

  .secondary-card-time-am-pm {
    font-size: 2em;
  }

  .brand-logo {
    width: 5rem;
  }

  .info-text {
    font-size: .75rem;
  }

  .info-card {
    gap: 1.5rem;
  }

  .date-text {
    font-size: 3.4rem;
  }

  .date-number {
    font-size: 7rem;
  }

}

@media screen and (min-width: 1080px) and (orientation: portrait) {
  .clock-container {
    transform: scale(1.25);
  }

  .secondary-card-number-container {
    gap: 1rem;
  }

  .secondary-card-number {
    font-size: 17rem;
  }

  .secondary-card-time-am-pm {
    font-size: 4rem;
  }

  .brand-logo {
    width: 12rem;
  }

  .info-text {
    font-size: 2rem;
  }

  .info-card {
    gap: 3rem;
  }

  .date-text {
    font-size: 10rem;
  }

  .date-number {
    font-size: 16rem;
  }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  .clock-container {
    transform: scale(.90);
  }

  .secondary-card-number-container {
    gap: 1rem;
  }

  .secondary-card-number {
    font-size: 10rem;
  }

  .secondary-card-time-am-pm {
    font-size: 3rem;
  }

  .brand-logo {
    width: 8.5rem;
  }

  .info-text {
    font-size: 1.5rem;
  }

  .info-card {
    gap: 3rem;
  }

  .date-text {
    font-size: 5.5rem;
  }

  .date-number {
    font-size: 13rem;
  }

}

@media screen and (min-width: 1920px) and (orientation: landscape) {
  .clock-container {
    transform: scale(1.25);
  }

  .secondary-card-number-container {
    gap: 1rem;
  }

  .secondary-card-number {
    font-size: 16rem;
  }

  .secondary-card-time-am-pm {
    font-size: 4.5rem;
  }

  .brand-logo {
    width: 13rem;
  }

  .info-text {
    font-size: 1.75rem;
  }

  .info-card {
    gap: 3rem;
  }

  .date-text {
    font-size: 7rem;
  }

  .date-number {
    font-size: 18rem;
  }

}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  .clock-container {
    transform: scale(2.7);
  }

  .secondary-card-number {
    font-size: 40rem;
  }

  .secondary-card-time-am-pm {
    font-size: 9rem;
  }

  .brand-logo {
    width: 22rem;
  }

  .info-text {
    font-size: 3.75rem;
  }

  .info-card {
    gap: 5rem;
  }

  .date-text {
    font-size: 17rem;
  }

  .date-number {
    font-size: 34rem;
  }

}

@media screen and (min-width: 3840px) and (orientation: landscape) {
  .clock-container {
    transform: scale(2.7);
  }

  .secondary-card-number {
    font-size: 36rem;
  }

  .secondary-card-time-am-pm {
    font-size: 10rem;
  }

  .brand-logo {
    width: 30rem;
  }

  .info-text {
    font-size: 3.75rem;
  }

  .info-card {
    gap: 5rem;
  }

  .date-text {
    font-size: 17rem;
  }

  .date-number {
    font-size: 34rem;
  }
}

@media screen and (min-width: 4096px) and (orientation: landscape) {
  .clock-container {
    transform: scale(2.8);
  }

  .secondary-card-number {
    font-size: 39rem;
  }

  .secondary-card-time-am-pm {
    font-size: 11rem;
  }

  .brand-logo {
    width: 30rem;
  }

  .info-text {
    font-size: 3.75rem;
  }

  .info-card {
    gap: 5rem;
  }

  .date-text {
    font-size: 17rem;
  }

  .date-number {
    font-size: 34rem;
  }
} */