**/*.min.js
edge-apps/new-clock/
edge-apps/edge-apps-library/
edge-apps/powerbi-legacy/
edge-apps/powerbi-legacy/**
edge-apps/powerbi
edge-apps/powerbi/**
edge-apps/qr-code/
edge-apps/menu-board/
.github/workflows/
