@use '@/assets/variables.scss' as *;

@mixin gap-overrides {
  .main-container {
    gap: $custom-4k-gap;
    padding: $custom-4k-padding;

    @media (orientation: portrait) {
     flex-direction: column;
     display: flex;
    }

    @media screen and (max-width: 2560px) and (orientation: landscape) {
      gap: $hd-gap;
      padding: $hd-padding;
    }

    @media screen and (max-width: 1280px) and (orientation: landscape) {
      gap: $custom-720-gap;
      padding: $custom-720-padding;
    }

    @media screen and (max-width: 800px) and (orientation: landscape) {
      gap: $pi-gap;
      padding: $pi-padding;
    }

    @media screen and (max-width: 3840px) and (orientation: portrait) {
      gap: $custom-4k-gap;
      padding: $custom-4k-padding;
    }

    @media screen and (max-width: 2159px) and (orientation: portrait) {
      gap: $hd-gap;
      padding: $hd-padding;
    }

    @media screen and (max-width: 720px) and (orientation: portrait) {
      gap: $custom-720-gap;
      padding: $custom-720-padding;
    }

    @media screen and (max-width: 480px) and (orientation: portrait) {
      gap: $pi-gap;
      padding: $pi-padding;
    }
  }

  .row-container {
    gap: $custom-4k-gap;

    @media screen and (max-width: 2560px) and (orientation: landscape) {
      gap: $hd-gap;
    }

    @media screen and (max-width: 1280px) and (orientation: landscape) {
      gap: $custom-720-gap;
    }

    @media screen and (max-width: 800px) and (orientation: landscape) {
      gap: $pi-gap;
    }

    @media screen and (max-width: 3840px) and (orientation: portrait) {
      gap: $custom-4k-gap;
    }

    @media screen and (max-width: 2159px) and (orientation: portrait) {
      gap: $hd-gap;
    }

    @media screen and (max-width: 720px) and (orientation: portrait) {
      gap: $custom-720-gap;
    }

    @media screen and (max-width: 480px) and (orientation: portrait) {
      gap: $pi-gap;
    }
  }

  .welcome-card {
    gap: clamp(2rem, 1vw + 1vh, 1000rem);
  }

}
