$custom-4k-padding: 5.714rem;
$custom-4k-gap: 5.714rem;
$custom-4k-border-radius-big: 6.857rem;
$custom-4k-border-radius-medium: 5.429rem;
$hd-padding: 2.857rem;
$hd-gap: 2.857rem;
$hd-border-radius-big: 3.429rem;
$hd-border-radius-medium: 2.714rem;
$custom-720-padding: 2.286rem;
$custom-720-gap: 2.286rem;
$custom-720-border-radius-big: 2.429rem;
$custom-720-border-radius-medium: 1.714rem;
$pi-padding: 1rem;
$pi-gap: 1rem;
$pi-border-radius-big: 1.571rem;
$pi-border-radius-medium: 1.143rem;
