.CalendarOverview {
  &.secondary-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--theme-color-tertiary);
    background-color: var(--theme-color-primary);

    .calendar {
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 80%;
      color: var(--theme-color-primary);
      justify-content: center;

      .calendar-header {
        color: var(--theme-color-tertiary);
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }

      .calendar-weekdays {
        color: var(--theme-color-tertiary);
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 0;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
      }

      .calendar-grid {
        display: grid;
        border-color: var(--theme-color-tertiary);
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 0;
        overflow: hidden;

        .calendar-cell {
          border-color: var(--theme-color-tertiary);
          color: var(--theme-color-tertiary);
          display: flex;
          justify-content: center;
          align-items: center;

          &:nth-child(7n) {
            border-right: none;
          }

          &:nth-child(7n + 1) {
            color: var(--theme-color-accent, #ffb092);
          }

          &:nth-last-child(-n + 7) {
            border-bottom: none;
          }

          &.other-month {
            color: var(--theme-color-secondary);

            &:nth-child(7n + 1) {
              color: var(--theme-color-secondary);
            }
          }

          &.current-day {
            background-color: var(--theme-color-tertiary);
            color: var(--theme-color-primary);
            position: relative;
            font-weight: normal;
            z-index: 1;
          }
        }
      }
    }
  }
}

@mixin calendar-overview-card($multiplier: 1) {
  .CalendarOverview {
    &.secondary-card {
      padding: 1.25rem * $multiplier;

      .calendar {
        width: 90%;
        height: 100%;
        gap: 0.5rem * $multiplier;

        .calendar-header {
          font-size: 1rem * $multiplier;
          margin-bottom: 0.5rem * $multiplier;
        }

        .calendar-weekdays {
          font-size: 0.75rem * $multiplier;
          margin-bottom: 0.25rem * $multiplier;
        }

        .calendar-grid {
          border: 0.1rem * $multiplier solid var(--theme-color-tertiary);
          border-radius: 0.35rem * $multiplier;

          .calendar-cell {
            padding: 0.25rem * $multiplier;
            font-size: 0.65rem * $multiplier;
            color: var(--theme-color-tertiary);
            border-right: 0.1rem * $multiplier solid var(--theme-color-tertiary);
            border-bottom: 0.1rem * $multiplier solid
              var(--theme-color-tertiary);

            &.current-day {
              &::before {
                width: 1rem * $multiplier;
                height: 1rem * $multiplier;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  @include calendar-overview-card(1);
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  @include calendar-overview-card(1.5);
}

@media screen and (min-width: 1920px) and (orientation: landscape) {
  @include calendar-overview-card(2.25);
}

@media screen and (min-width: 3840px) and (orientation: landscape) {
  @include calendar-overview-card(4.5);
}

@media screen and (min-width: 480px) and (orientation: portrait) {
  @include calendar-overview-card(1);
}

@media screen and (min-width: 720px) and (orientation: portrait) {
  @include calendar-overview-card(1.6);
}

@media screen and (min-width: 1080px) and (orientation: portrait) {
  @include calendar-overview-card(2.4);
}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  @include calendar-overview-card(4.8);
}
