@mixin daily-calendar-view($orientation: 'landscape', $base-multiplier: 1) {
  $multiplier: $base-multiplier;

  @if $orientation == 'portrait' {
    $multiplier: $base-multiplier * 1.4;
  }

  .daily-calendar {
    padding: 0.84rem * $multiplier;

    .time-slot {
      .time-label {
        width: 2.52rem * $multiplier;
        font-size: 0.42rem * $multiplier;
        padding-right: 0.315rem * $multiplier;
      }

      .time-content {
        .hour-line {
          height: 0.05rem * $multiplier;
        }

        .calendar-event-wrapper {
          border: 0.07rem * $multiplier solid white;
          border-radius: 0.13rem * $multiplier;
          overflow: visible;
        }

        .calendar-event-item {
          padding: 0.25rem * $multiplier;
          border-radius: 0.13rem * $multiplier;
          border-left: 0.17rem * $multiplier solid var(--theme-color-primary);
          font-size: 0.42rem * $multiplier;
          min-height: 1.344rem * $multiplier;
          font-size: 0.4rem * $multiplier;

          .event-title {
            margin-bottom: 0.1rem * $multiplier;
          }
        }
      }
    }

    .current-time-indicator {
      height: 0.05rem * $multiplier;
      top: 1rem * $multiplier;
      left: 3.35rem * $multiplier;
      right: 0.84rem * $multiplier;
    }
  }
}

.daily-calendar {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .time-slot {
    display: flex;
    align-items: center;
    height: calc(100% / 12);
    position: relative;

    .time-label {
      color: var(--theme-color-text);
      text-align: right;
      flex-shrink: 0;
      position: relative;
      z-index: 1;
    }

    .time-content {
      flex: 1;
      position: relative;
      height: 100%;
      min-width: 0;

      .hour-line {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        background-color: var(--theme-color-secondary);
        z-index: 1;
      }

      .calendar-event-wrapper {
        position: absolute;
        z-index: 2;
        left: 0;
      }

      .calendar-event-item {
        height: 100%;
        background-color: #e6e7e7;
        color: var(--theme-color-text);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        > div {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .event-title {
          font-weight: bold;
        }
      }
    }
  }

  .current-time-indicator {
    position: absolute;
    background-color: #ea4335;
    z-index: 10;
    pointer-events: none;
  }
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  @include daily-calendar-view('landscape', 1);
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
  @include daily-calendar-view('landscape', 1.5);
}

@media screen and (min-width: 1920px) and (orientation: landscape) {
  @include daily-calendar-view('landscape', 2.25);
}

@media screen and (min-width: 3840px) and (orientation: landscape) {
  @include daily-calendar-view('landscape', 4.5);
}

@media screen and (min-width: 480px) and (orientation: portrait) {
  @include daily-calendar-view('portrait', 1);
}

@media screen and (min-width: 720px) and (orientation: portrait) {
  @include daily-calendar-view('portrait', 1.6);
}

@media screen and (min-width: 1080px) and (orientation: portrait) {
  @include daily-calendar-view('portrait', 2.4);
}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  @include daily-calendar-view('portrait', 4.8);
}
