/* stylelint-disable selector-class-pattern, color-hex-length, at-rule-no-unknown, media-feature-range-notation, at-rule-empty-line-before */

@use '@/assets/base.scss' as *;

// Mixins
@mixin card-base {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color-tertiary);
}

@mixin grid-position($column-start, $column-end, $row) {
  grid-column: #{$column-start} / #{$column-end};
  grid-row: #{$row};
}

@mixin responsive-container($gap, $padding) {
  gap: $gap;
  padding: $padding;
}

@mixin responsive-card($border-radius, $padding-left, $gap: null) {
  border-radius: $border-radius;
  padding-left: $padding-left;
  @if $gap {
    gap: $gap;
  }
}

@mixin responsive-card-border-radius($border-radius) {
  border-radius: $border-radius;
}

@mixin responsive-icon($width, $font-size) {
  width: $width;
  font-size: $font-size;
}

@mixin responsive-label-container($max-height, $gap: 0.2rem) {
  min-height: auto;
  max-height: $max-height;
  overflow: hidden;
  gap: $gap;
}

@mixin responsive-label-chip(
  $font-size,
  $padding: 0.5rem,
  $border-radius: 0.5rem
) {
  font-size: $font-size;
  padding: $padding;
  border-radius: $border-radius;
}

@mixin responsive-brand-logo($width) {
  width: $width;
}

@mixin responsive-info-text($font-size) {
  font-size: $font-size;
}

// Base Layout
.main-container-grid {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 0.25fr 0.25fr 0.5fr 0.5fr 0.25fr 0.25fr 1fr 1fr 1fr;
}

.primary-card,
.secondary-card {
  width: 100%;
  color: #000;
  padding: 1rem;
  gap: 1.5rem;
}

// Card Components
.host-name-card,
.screen-name-card,
.hardware-name-card,
.brand-logo-card,
.version-name-card,
.coordinates-card,
.labels-name-card {
  @include card-base;
}

.icon-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--theme-color-primary);
}

.icon-card-icon {
  width: 100%;
  height: 100%;
}

// Grid Positioning - Landscape
.host-name-card {
  @include grid-position(1, 7, 1);
  align-items: flex-start;
}

.screen-name-card {
  @include grid-position(7, 13, 1);
  align-items: flex-start;
}

.hardware-name-card {
  @include grid-position(1, 5, 2);
  align-items: flex-start;
}

.brand-logo-card {
  @include grid-position(5, 9, 2);
  align-items: center;
}

.version-name-card {
  @include grid-position(9, 13, 2);
  align-items: flex-start;
}

.coordinates-card {
  @include grid-position(1, 6, 3);
  align-items: flex-start;
}

.labels-name-card {
  @include grid-position(6, 13, 3);
  align-items: flex-start;
  overflow-y: hidden;
}

// Typography
.head-text {
  font-weight: bold;
}

.icon-card-text {
  letter-spacing: 1px;
}

.info-text {
  color: var(--theme-color-primary);
}

// Label Components
.label-chip-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  gap: 0.2rem;
  overflow: hidden;
  padding-right: 1rem;
  height: auto;
}

.label-chip {
  background-color: var(--theme-color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--theme-color-tertiary);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

// Portrait Layout
@media (orientation: portrait) {
  .main-container-grid {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.125fr 0.125fr 0.25fr 0.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .host-name-card {
    @include grid-position(1, 5, 1);
    height: 100%;
  }

  .screen-name-card {
    @include grid-position(5, 10, 1);
    height: 100%;
  }

  .labels-name-card {
    @include grid-position(1, 10, 2);
    height: 100%;
  }

  .hardware-name-card {
    @include grid-position(1, 10, 3);
    height: 100%;
  }

  .version-name-card {
    @include grid-position(1, 10, 4);
    height: 100%;
  }

  .coordinates-card {
    @include grid-position(1, 7, 5);
    height: 100%;
  }

  .brand-logo-card {
    @include grid-position(7, 10, 5);
    height: 100%;
  }
}

// Media Queries - Portrait Small (480x800)
@media screen and (min-width: $srly-breakpoint-portrait-sm) and (min-height: $srly-breakpoint-landscape-sm) and (orientation: portrait) {
  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    @include responsive-card(1rem, 2rem, 1.5rem);
  }

  .brand-logo-card {
    @include responsive-card-border-radius(1rem);
  }

  .icon-card-icon {
    @include responsive-icon(2.5rem, null);
  }

  .icon-card-text {
    @include responsive-icon(null, 1.3rem);
  }

  .brand-logo {
    @include responsive-brand-logo(3.5rem);
  }

  .info-text {
    @include responsive-info-text(0.6rem);
  }

  .label-chip-container {
    @include responsive-label-container(3.8rem);
  }

  .label-chip {
    @include responsive-label-chip(0.6rem, 0.5rem, 0.3rem);
  }
}

// Media Queries - Portrait Medium (720x1280)
@media screen and (min-width: $srly-breakpoint-portrait-md) and (min-height: $srly-breakpoint-landscape-md) and (orientation: portrait) {
  .main-container-grid {
    @include responsive-container(1.5rem, 1.5rem);
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    @include responsive-card(1.2rem, 3rem);
  }

  .brand-logo-card {
    @include responsive-card-border-radius(1.2rem);
  }

  .icon-card-icon {
    @include responsive-icon(3rem, null);
  }

  .icon-card-text {
    @include responsive-icon(null, 2rem);
  }

  .brand-logo {
    @include responsive-brand-logo(5rem);
  }

  .info-text {
    @include responsive-info-text(1rem);
  }

  .label-chip-container {
    @include responsive-label-container(7rem);
  }

  .label-chip {
    @include responsive-label-chip(1rem);
  }
}

// Media Queries - Landscape Small (800x480)
@media screen and (min-width: $srly-breakpoint-landscape-sm) and (min-height: $srly-breakpoint-portrait-sm) and (orientation: landscape) {
  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    @include responsive-card(1rem, 2rem);
  }

  .brand-logo-card {
    @include responsive-card-border-radius(1rem);
  }

  .icon-card-icon {
    @include responsive-icon(2.5rem, null);
  }

  .icon-card-text {
    @include responsive-icon(null, 1.7rem);
  }

  .brand-logo {
    @include responsive-brand-logo(3.5rem);
  }

  .info-text {
    @include responsive-info-text(0.8rem);
  }

  .label-chip-container {
    @include responsive-label-container(4rem);
  }

  .label-chip {
    @include responsive-label-chip(0.7rem, 0.5rem, 0.3rem);
  }
}

// Media Queries - Portrait Large (1080x1920)
@media screen and (min-width: $srly-breakpoint-portrait-lg) and (min-height: $srly-breakpoint-landscape-lg) and (orientation: portrait) {
  .main-container-grid {
    @include responsive-container(2.5rem, 2.5rem);
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    @include responsive-card(2rem, 4rem, 2.5rem);
  }

  .brand-logo-card {
    @include responsive-card-border-radius(2rem);
  }

  .icon-card-icon {
    @include responsive-icon(4.5rem, null);
  }

  .icon-card-text {
    @include responsive-icon(null, 3rem);
  }

  .label-chip-container {
    @include responsive-label-container(11rem, 0.4rem);
  }

  .label-chip {
    @include responsive-label-chip(1.8rem, 0.7rem, 0.5rem);
    padding-right: 1rem;
  }

  .brand-logo {
    @include responsive-brand-logo(10rem);
  }

  .info-text {
    @include responsive-info-text(1.5rem);
  }
}

// Media Queries - Landscape Medium (1280x720)
@media screen and (min-width: $srly-breakpoint-landscape-md) and (min-height: $srly-breakpoint-portrait-md) and (orientation: landscape) {
  .main-container-grid {
    @include responsive-container(1.5rem, 1.5rem);
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    @include responsive-card(1.2rem, 3rem);
  }

  .brand-logo-card {
    @include responsive-card-border-radius(1.2rem);
  }

  .icon-card-icon {
    @include responsive-icon(3rem, null);
  }

  .icon-card-text {
    @include responsive-icon(null, 2rem);
  }

  .label-chip-container {
    @include responsive-label-container(7rem, 0.3rem);
    padding-right: 1.5rem;
  }

  .label-chip {
    @include responsive-label-chip(0.85rem);
  }

  .brand-logo {
    @include responsive-brand-logo(6rem);
  }

  .info-text {
    @include responsive-info-text(1rem);
  }
}

// Media Queries - Landscape Large (1920x1080)
@media screen and (min-width: $srly-breakpoint-landscape-lg) and (min-height: $srly-breakpoint-portrait-lg) and (orientation: landscape) {
  .main-container-grid {
    @include responsive-container(2.5rem, 2.5rem);
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    @include responsive-card(2rem, 4rem, 2rem);
  }

  .brand-logo-card {
    @include responsive-card-border-radius(2rem);
  }

  .icon-card-icon {
    @include responsive-icon(4.5rem, null);
  }

  .icon-card-text {
    @include responsive-icon(null, 3rem);
  }

  .label-chip-container {
    @include responsive-label-container(10rem, 0.3rem);
    padding-right: 2rem;
  }

  .label-chip {
    @include responsive-label-chip(1.5rem, 0.7rem);
  }

  .brand-logo {
    @include responsive-brand-logo(10rem);
  }

  .info-text {
    @include responsive-info-text(1.5rem);
  }
}

// Media Queries - Portrait Extra Large (2160x3840)
@media screen and (min-width: $srly-breakpoint-portrait-xl) and (min-height: $srly-breakpoint-landscape-xl) and (orientation: portrait) {
  .main-container-grid {
    @include responsive-container(5rem, 5rem);
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    @include responsive-card(3rem, 8rem, 5rem);
  }

  .brand-logo-card {
    @include responsive-card-border-radius(3rem);
  }

  .icon-card-icon {
    @include responsive-icon(9rem, null);
  }

  .icon-card-text {
    @include responsive-icon(null, 7rem);
  }

  .icon-card {
    gap: 3rem;
  }

  .label-chip-container {
    @include responsive-label-container(20rem, 0.9rem);
  }

  .label-chip {
    @include responsive-label-chip(3.5rem, 1rem, 0.9rem);
  }

  .brand-logo {
    @include responsive-brand-logo(20rem);
  }

  .info-text {
    @include responsive-info-text(3rem);
  }

  .brand-logo-card {
    gap: 3rem;
  }
}

// Media Queries - Landscape Extra Large (3840x2160)
@media screen and (min-width: $srly-breakpoint-landscape-xl) and (min-height: $srly-breakpoint-portrait-xl) and (orientation: landscape) {
  .main-container-grid {
    @include responsive-container(5rem, 5rem);
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    @include responsive-card(4rem, 8rem, 5rem);
  }

  .brand-logo-card {
    @include responsive-card-border-radius(4rem);
  }

  .icon-card-icon {
    @include responsive-icon(7rem, null);
  }

  .icon-card-text {
    @include responsive-icon(null, 6rem);
  }

  .icon-card {
    gap: 3rem;
  }

  .label-chip-container {
    @include responsive-label-container(21rem, 0.9rem);
    padding-right: 1rem;
  }

  .label-chip {
    @include responsive-label-chip(3.5rem, 1.2rem, 0.8rem);
  }

  .brand-logo {
    @include responsive-brand-logo(20rem);
  }

  .info-text {
    @include responsive-info-text(3rem);
  }

  .brand-logo-card {
    gap: 3rem;
  }
}

// Media Queries - Landscape 2XL (4096x2160)
@media screen and (min-width: $srly-breakpoint-landscape-2xl) and (orientation: landscape) {
  .label-chip-container {
    gap: 0.9rem;
    padding-right: 2rem;
  }
}
