@use '@/assets/base.scss';

/* stylelint-disable media-feature-range-notation */

/* Modifiers */

.main-container-grid {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 0.25fr 0.25fr 0.5fr 0.5fr 0.25fr 0.25fr 1fr 1fr 1fr;
}

.primary-card,
.secondary-card {
  width: 100%;
  color: #000;
  padding: 1rem;
  gap: 1.5rem;
}

/* Custom Styles */

.host-name-card,
.screen-name-card,
.hardware-name-card,
.brand-logo-card,
.version-name-card,
.coordinates-card,
.labels-name-card {
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-color-tertiary);
}

.icon-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--theme-color-primary);
}

.host-name-card {
  /* background-color: aqua; */
  grid-column: 1 /7;
  grid-row: 1;
  align-items: flex-start;
}

.screen-name-card {
  /* background-color: bisque; */
  grid-column: 7/13;
  grid-row: 1;
  align-items: flex-start;
}

.hardware-name-card {
  /* background-color: rgb(45, 180, 184); */
  grid-column: 1/5;
  grid-row: 2;
  align-items: flex-start;
}

.brand-logo-card {
  /* background-color: chartreuse; */
  grid-column: 5/9;
  grid-row: 2;
  align-items: center;
}

.head-text {
  font-weight: bold;
}

.icon-card-text {
  letter-spacing: 1px;
}

.info-text {
  color: var(--theme-color-primary);
}

.version-name-card {
  /* background-color: chocolate; */
  grid-column: 9/13;
  grid-row: 2;
  align-items: flex-start;
}

.coordinates-card {
  /* background-color: chocolate; */
  grid-column: 1/6;
  grid-row: 3;
  align-items: flex-start;
}

.labels-name-card {
  grid-column: 6/13;
  grid-row: 3;
  align-items: flex-start;
  overflow-y: hidden;
}

.label-chip-container {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  gap: 0.2rem;
  overflow: hidden;
  padding-right: 1rem;
  height: auto;
}

.label-chip {
  background-color: var(--theme-color-primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: var(--theme-color-tertiary);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media (orientation: portrait) {
  .main-container-grid {
    width: 100%;
    padding: 1em;
    display: grid;
    grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.125fr 0.125fr 0.25fr 0.25fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }

  .host-name-card {
    grid-column: 1/5;
    grid-row: 1;
    height: 100%;
  }

  .screen-name-card {
    grid-column: 5/10;
    grid-row: 1;
    height: 100%;
  }

  .labels-name-card {
    grid-column: 1/10;
    grid-row: 2;
    height: 100%;
  }

  .hardware-name-card {
    grid-column: 1/10;
    grid-row: 3;
    height: 100%;
  }

  .version-name-card {
    grid-column: 1/10;
    grid-row: 4;
    height: 100%;
  }

  .coordinates-card {
    grid-column: 1/7;
    grid-row: 5;
    height: 100%;
  }

  .brand-logo-card {
    grid-column: 7/10;
    grid-row: 5;
    height: 100%;
  }
}

/* Media Queries */

@media screen and (min-width: 480px) and (min-height: 800px) and (orientation: portrait) {
  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    padding-left: 2rem;
    gap: 1.5rem;
  }

  .icon-card-icon {
    width: 2.5rem;
  }

  .icon-card-text {
    font-size: 1.3rem;
  }

  .brand-logo {
    width: 3.5rem;
  }

  .info-text {
    font-size: 0.6rem;
  }

  .label-chip-container {
    min-height: auto;
    max-height: 3.8rem;
    overflow: hidden;
  }

  .label-chip {
    font-size: 0.6rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
  }
}

@media screen and (min-width: 720px) and (min-height: 1280px) and (orientation: portrait) {
  .main-container-grid {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .brand-logo-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    border-radius: 1.2rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    padding-left: 3rem;
  }

  .icon-card-icon {
    width: 3rem;
  }

  .icon-card-text {
    font-size: 2rem;
  }

  .brand-logo {
    width: 5rem;
  }

  .info-text {
    font-size: 1rem;
  }

  .label-chip-container {
    /* height: 7rem; */
    min-height: auto;
    max-height: 7rem;
    overflow: hidden;
  }

  .label-chip {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) and (min-height: 480px) and (orientation: landscape) {
  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    padding-left: 2rem;
  }

  .icon-card-icon {
    width: 2.5rem;
  }

  .icon-card-text {
    font-size: 1.7rem;
  }

  .brand-logo {
    width: 3.5rem;
  }

  .info-text {
    font-size: 0.8rem;
  }

  .label-chip-container {
    min-height: auto;
    max-height: 4rem;
    overflow: hidden;
  }

  .label-chip {
    font-size: 0.7rem;
    border-radius: 0.3rem;
  }
}

@media screen and (min-width: 1080px) and (min-height: 1920px) and (orientation: portrait) {
  .main-container-grid {
    gap: 2.5rem;
    padding: 2.5rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .brand-logo-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    border-radius: 2rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    padding-left: 4rem;
    gap: 2.5rem;
  }

  .icon-card-icon {
    width: 4.5rem;
  }

  .icon-card-text {
    font-size: 3rem;
  }

  .label-chip-container {
    min-height: auto;
    max-height: 11rem;
    overflow: hidden;
    gap: 0.4rem;
  }

  .label-chip {
    font-size: 1.8rem;
    border-radius: 0.5rem;
    padding: 0.7rem;
    padding-right: 1rem;
  }

  .brand-logo {
    width: 10rem;
  }

  .info-text {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) and (min-height: 720px) and (orientation: landscape) {
  .main-container-grid {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .brand-logo-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    border-radius: 1.2rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    padding-left: 3rem;
  }

  .icon-card-icon {
    width: 3rem;
  }

  .icon-card-text {
    font-size: 2rem;
  }

  .label-chip-container {
    min-height: auto;
    max-height: 7rem;
    overflow: hidden;
    gap: 0.3rem;
    padding-right: 1.5rem;
  }

  .label-chip {
    font-size: 0.85rem;
  }

  .brand-logo {
    width: 6rem;
  }

  .info-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1920px) and (min-height: 1080px) and (orientation: landscape) {
  .main-container-grid {
    gap: 2.5rem;
    padding: 2.5rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .brand-logo-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    border-radius: 2rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    padding-left: 4rem;
    gap: 2rem;
  }

  .icon-card-icon {
    width: 4.5rem;
  }

  .icon-card-text {
    font-size: 3rem;
  }

  .label-chip-container {
    min-height: auto;
    max-height: 10rem;
    overflow: hidden;
    gap: 0.3rem;
    padding-right: 2rem;
  }

  .label-chip {
    font-size: 1.5rem;
    padding: 0.7rem;
  }

  .brand-logo {
    width: 10rem;
  }

  .info-text {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 2160px) and (min-height: 3840px) and (orientation: portrait) {
  .main-container-grid {
    gap: 5rem;
    padding: 5rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .brand-logo-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    border-radius: 3rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    padding-left: 8rem;
    gap: 5rem;
  }

  .icon-card-icon {
    width: 9rem;
  }

  .icon-card-text {
    font-size: 7rem;
  }

  .icon-card {
    gap: 3rem;
  }

  .label-chip-container {
    min-height: auto;
    max-height: 20rem;
    overflow: hidden;
    gap: 0.9rem;
  }

  .label-chip {
    font-size: 3.5rem;
    padding: 1rem;
    border-radius: 0.9rem;
  }

  .brand-logo {
    width: 20rem;
  }

  .info-text {
    font-size: 3rem;
  }

  .brand-logo-card {
    gap: 3rem;
  }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) and (orientation: landscape) {
  .main-container-grid {
    gap: 5rem;
    padding: 5rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .brand-logo-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    border-radius: 4rem;
  }

  .host-name-card,
  .screen-name-card,
  .hardware-name-card,
  .version-name-card,
  .coordinates-card,
  .labels-name-card {
    padding-left: 8rem;
    gap: 5rem;
  }

  .icon-card-icon {
    width: 7rem;
  }

  .icon-card-text {
    font-size: 6rem;
  }

  .icon-card {
    gap: 3rem;
  }

  .label-chip-container {
    min-height: auto;
    max-height: 21rem;
    overflow: hidden;
    gap: 0.9rem;
    padding-right: 1rem;
  }

  .label-chip {
    font-size: 3.5rem;
    border-radius: 0.8rem;
    padding: 1.2rem;
  }

  .brand-logo {
    width: 20rem;
  }

  .info-text {
    font-size: 3rem;
  }

  .brand-logo-card {
    gap: 3rem;
  }
}

@media screen and (min-width: 4096px) and (orientation: landscape) {
  .label-chip-container {
    gap: 0.9rem;
    padding-right: 2rem;
  }
}
