@font-face {
	font-family: 'Aeonik';
	src: url('../font/Aeonik-Regular.woff2') format('woff2'),
			url('../font/Aeonik-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}