.bg-thunderstorm {
  background-image: url("/static/images/bg/thunderstorm-min.jpg");
}

.bg-thunderstorm-night {
  background-image: url("/static/images/bg/thunderstorm-night-min.jpg");
}

.bg-drizzle {
  background-image: url("/static/images/bg/drizzle-min.jpg");
}

.bg-drizzle-night {
  background-image: url("/static/images/bg/drizzle-night-min.jpg");
}

.bg-rain {
  background-image: url("/static/images/bg/rain-min.jpg");
}

.bg-rain-night {
  background-image: url("/static/images/bg/rain-night-min.jpg");
}

.bg-snow {
  background-image: url("/static/images/bg/snow-min.jpg");
}

.bg-snow-night {
  background-image: url("/static/images/bg/snow-night-min.jpg");
}

.bg-haze {
  background-image: url("/static/images/bg/haze-min.jpg");
}

.bg-smoke {
  background-image: url("/static/images/bg/smoke-min.jpg");
}

.bg-sand {
  background-image: url("/static/images/bg/sand-min.jpg");
}

.bg-volcanic-ash {
  background-image: url("/static/images/bg/volcanic-ash-min.jpg");
}

.bg-sand {
  background-image: url("/static/images/bg/sand-min.jpg");
}

.bg-tornado {
  background-image: url("/static/images/bg/tornado-min.jpg");
}

.bg-clear {
  background-image: url("/static/images/bg/clear-min.jpg");
}

.bg-clear-night {
  background-image: url("/static/images/bg/clear-night-min.jpg");
}

.bg-cloudy {
  background-image: url("/static/images/bg/cloudy-min.jpg");
}

.bg-cloudy-night {
  background-image: url("/static/images/bg/cloudy-night-min.jpg");
}
