@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#embed-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

#embed-container iframe {
  border: 0;
}
