/* stylelint-disable color-function-notation, alpha-value-notation  */

.content {
  position: relative;
  margin: 0;
}

#map {
  height: 100vh;
  width: 100vw;
}

.metadata {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  position: absolute;
  width: 504px;
  left: 60px;
  top: 102px;
  color: #fff;
  background: #191d2c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

@media (min-width: 1440px) {
  .metadata {
    left: 60px;
    top: 120px;
  }
}

@media (min-width: 1920px) {
  .metadata {
    left: 60px;
    top: 80px;
  }
}

@media (min-width: 3840px) {
  .metadata {
    padding: 48px;
    left: 80px;
    top: 80px;
    width: 1032px;
  }
}

.metadata .data {
  border-bottom: 1px solid rgba(196, 196, 196, 0.21);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.metadata-item {
  width: 50%;
  margin-bottom: 24px;
}

.metadata-item label {
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  opacity: 0.6;
}

.metadata-item .value {
  font-size: 18px;
  line-height: 24px;
}

.tags {
  margin-top: 24px;
}

.tags label {
  font-size: 16px;
  line-height: 28px;
}

.tags .value {
  font-size: 18px;
}

.tags span {
  background: #0D6EFD;
  border-radius: 4px;
  font-size: 14px;
  line-height: 30px;
  padding: 3px 8px;
  margin-right: 5px;
}

@media (min-width: 3840px) {
  .metadata .data {
    padding-bottom: 24px;
  }

  .metadata .header {
    font-size: 40px;
    line-height: 48px;
  }

  .metadata-item label {
    font-size: 32px;
    line-height: 56px;
  }

  .metadata-item .value {
    font-size: 36px;
    line-height: 48px;
  }

  .tags {
    margin-top: 48px;
  }

  .tags label {
    font-size: 32px;
    line-height: 56px;
  }

  .tags .value {
    font-size: 36px;
  }

  .tags span {
    font-size: 28px;
    line-height: 36px;
  }
}
