/* stylelint-disable media-feature-range-notation */

/* Specific Layout & Module Styles */

/* ---------Clock Element------------ */

.clock-container {
  width: 36.43rem;
  height: 36.43rem;
  background: #EAECF3;
  border-radius: 50%;
  display: flex;
  justify-self: center;
  align-items: center;
}

.clock-container .clock {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock .number-hours,
.clock .seconds-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.seconds-bar span {
  position: absolute;
  transform: rotate(calc(var(--index) * 45deg));
  inset: -1.43rem;
  text-align: center;
}

.clock .seconds-bar span p {
  width: 0.21rem;
  display: inline-block;
  border-radius: 0.14rem;
}

.clock .seconds-bar span:nth-child(5n) p {
  background: var(--theme-color-primary);
  width: 0.36rem;
  height: 1.29rem;
  transform: translateY(0.07rem);
}

.hands-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hands-box .hand {
  position: absolute;
  display: flex;
  justify-content: center;
}

.hands-box .hour {
  width: 20rem;
  height: 20rem;
}

.hands-box .hour i {
  width: 0.5rem;
  height: 9.86rem;
  background: #fff;
  position: absolute;
  box-shadow: 0 0 2.14rem 0 rgb(0 0 0 / 97%);
}

.hands-box .hour i::before {
  content: "";
  position: absolute;
  height: 7.5rem;
  width: 1.07rem;
  bottom: 2.14rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.43rem;
  background: var(--theme-color-primary);
  z-index: 2;
  box-shadow: 0 0 1.71rem 0 rgb(0 0 0 / 26%);
}

.hands-box .hour i::after {
  content: "";
  position: absolute;
  height: 8.21rem;
  width: 1.86rem;
  bottom: 1.79rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.79rem;
  background: #fff;
  z-index: 1;
}

.hands-box .minute {
  width: 27.14rem;
  height: 27.14rem;
}

.hands-box .minute::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.79rem;
  height: 1.79rem;
  background: #fff;
  border-radius: 1.79rem;
  z-index: 999;
}

.hands-box .minute i {
  width: 0.5rem;
  height: 13.57rem;
  background: #fff;
  position: absolute;
  box-shadow: 0 0 2.14rem 0 rgb(0 0 0 / 97%);
}

.hands-box .minute i::before {
  content: "";
  width: 1.86rem;
  height: 14.71rem;
  background: #fff;
  position: absolute;
  bottom: 1.79rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.79rem;
  z-index: 1;
  box-shadow: 0 0 1.71rem 0 rgb(0 0 0 / 26%);
}

.hands-box .minute i::after {
  content: "";
  width: 1.07rem;
  height: 13.93rem;
  background: var(--theme-color-primary);
  position: absolute;
  bottom: 2.21rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 1.43rem;
  z-index: 2;
}

.hands-box .second {
  width: 30rem;
  height: 34.29rem;
}

.hands-box .second::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.14rem;
  height: 1.14rem;
  background: #1E1E1E;
  border-radius: 1.79rem;
}

.hands-box .second::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0.57rem;
  height: 0.57rem;
  background: var(--theme-color-primary);
  border-radius: 1.79rem;
}

.hands-box .second i {
  width: 0.29rem;
  height: calc(15rem + 3.57rem);
  background: #1E1E1E;
  position: relative;
  border-radius: 0.14rem;
}

.hands-box .second i::before {
  content: '';
  width: 0.29rem;
  height: 3.21rem;
  background: #1E1E1E;
  position: absolute;
  bottom: -2.93rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.36rem;
}

/* ---------Clock End----------- */


.primary-card-clock {
  line-height: 1;
  font-size: 8rem;
  color: var(--theme-color-tertiary);
}


.secondary-card-number-container {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: baseline;
}


.secondary-card-number {
  font-size: 14.5rem;
  color: var(--theme-color-primary);
  letter-spacing: 1rem;
}


.info-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}

.brand-logo {
  width: 12rem;
}


.info-text {
  font-size: 1.75rem;
  color: var(--theme-color-primary);
}

.date-card {
  gap: 0.25rem;
}


.date-text {
  font-size: 5rem;
  color: var(--theme-color-secondary);
}


.date-number {
  line-height: 1;
  font-size: 11rem;
  color: var(--theme-color-primary);
}


.primary-card {
  width: 100%;
  height: 100%;
}

.message-head-content {
  font-size: 14rem;
  padding: 10rem;
  font-weight: bold;
  line-height: 1.25;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  height: calc(1.15em* 5);
  overflow: hidden;
}

.primary-card.message-head {
  align-items: flex-start;
  justify-content: normal;
}

.message-body-content {
  font-size: 6rem;
  padding: 10rem;
  line-height: 1.25;
  /* font-weight: 400; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 17;
  height: calc(1.14em* 20);
  overflow: hidden;
}


.message-body {
  display: flex;
  align-items: flex-start;
  justify-content: normal;
}


/* Grid Setup */

.main-container-grid {
  display: grid;
  grid-template-rows: 2fr .5fr .125fr .25fr .125fr .25fr .5fr;
  grid-template-columns: 3fr .25fr .5fr .5fr .5fr;
  gap: var(--custom-4k-gap);
  height: 100%;
  width: 100%;
}


.primary-container {
  width: 100%;
  grid-area: 1 / 1 / 4 / 3;
}

.secondary-container {
  width: 100%;
  border-radius: 3rem;
  background-color: #fff;
  grid-area: 1 / 3 / 8 / 6;
}

.row-container {
  height: 100%;
  grid-area: 4 / 1 / 8 / 3;
  gap: var(--custom-4k-gap);
}




/* Media Query Portrait */

@media (orientation: portrait) {
  .main-container {
    flex-direction: column;
    display: flex;
  }

  .primary-container {
    width: 100%;
    height: 50%;
  }

  .secondary-container {
    width: 100%;
    height: 30%;
  }

  .row-container {
    width: 100%;
    height: 20%;
  }
}


/* Media Query */

/* 4K Landscape - 4096 × 2160 */

@media screen and (max-width: 4096px) and (orientation: landscape) {
  .secondary-container {
    border-radius: var(--custom-4k-border-radius-medium);
  }

  .row-container {
    gap: var(--custom-4k-gap);
  }

  .message-head-content {
    font-size: 14rem;
    padding: 10rem;
  }

  .message-body-content {
    font-size: 6rem;
    padding: 9rem;
  }

  .info-card {
    gap: 3rem;
  }

  .brand-logo {
    width: 23rem;
  }

  .info-text {
    font-size: 3.5rem;
  }

  .date-text {
    font-size: 12rem;
  }

  .date-number {
    font-size: 24rem;
  }
}

/* 4K Landscape - 3840 × 2160 */

@media screen and (max-width: 3840px) and (orientation: landscape) {
  .message-head-content {
    padding: 9rem;
  }
}


/* QHD/WQHD Monitors - 2560×1440 */
@media screen and (max-width: 2560px) and (orientation: landscape) {
  .main-container {
    gap: var(--hd-gap);
    padding: var(--hd-padding);
  }

  .row-container {
    gap: var(--hd-gap);
  }

  .primary-card {
    border-radius: var(--hd-border-radius-big);
  }

  .secondary-container, .secondary-card {
    border-radius: var(--hd-border-radius-medium);
  }

  .message-head-content {
    font-size: 7rem;
    padding: 6rem;
  }

  .message-body-content {
    font-size: 3.2rem;
    padding: 4rem;
  }

  .brand-logo {
    width: 10rem;
  }

  .info-text {
    font-size: 2.5rem;
  }

  .date-text {
    font-size: 6rem;
  }

  .date-number {
    font-size: 12rem;
  }

  .clock-div {
    transform: scale(0.5);
  }
}

/* Full HD Landscape - 1920 × 1080 */

@media screen and (max-width: 1920px) and (orientation: landscape) {

  .main-container,
  .row-container {
    gap: var(--hd-gap);
  }

  .secondary-container {
    border-radius: var(--hd-border-radius-medium);
  }

  .message-head-content {
    padding: 5rem;
    font-size: 7rem;
  }

  .message-body-content {
    font-size: 3rem;
    padding: 4rem;
    -webkit-line-clamp: 17;
    height: calc(1.13em* 20);
  }

  .brand-logo {
    width: 10rem;
  }

  .info-card {
    gap: 2rem;
  }

  .info-text {
    font-size: 1.5rem;
  }

  .date-text {
    font-size: 6rem;
  }

  .date-number {
    font-size: 12rem;
  }

  .clock-card {
    width: 31.55%;
  }

  .clock-div {
    transform: scale(0.45);
  }
}

/* Custom resolution - 1680 × 962 (Landscape) */

@media screen and (max-width: 1680px) and (orientation: landscape) {
  .message-head-content {
    padding: 4rem;
    font-size: 6rem;
  }

  .message-body-content {
    font-size: 2.5rem;
    padding: 3rem;
    -webkit-line-clamp: 18;
    height: calc(1.13em* 21);
  }

  .date-text {
    font-size: 5rem;
  }

  .date-number {
    font-size: 10rem;
  }


  .clock-card {
    width: 31.3%;
  }
}


/* HD+ - 1600×900, 1440×900 */

@media screen and (max-width: 1600px) and (orientation: landscape) {
  .message-head-content {
    font-size: 5.5rem;
  }

  .message-body-content {
    font-size: 2.3rem;
  }
}

/* Laptop Standard - 1366×768 */
@media screen and (max-width: 1366px) and (orientation: landscape) {
  .main-container {
    padding: var(--custom-720-padding);
  }

  .main-container,
  .row-container {
    gap: var(--custom-720-gap);
  }

  .primary-card {
    border-radius: var(--custom-720-border-radius-big);
  }

  .secondary-container {
    border-radius: var(--custom-720-border-radius-medium);
  }

  .message-head-content {
    font-size: 5rem;
  }

  .message-body-content {
    font-size: 1.95rem;
    height: calc(1.15em* 21);
  }

  .brand-logo {
    width: 7rem;
  }

  .info-text {
    font-size: 1.3rem;
  }

  .date-text {
    font-size: 4rem;
  }

  .date-number {
    font-size: 8rem;
  }

  .clock-div {
    transform: scale(0.3);
  }
}

/* HD Landscape - 1280 × 720 */

@media screen and (max-width: 1280px) and (orientation: landscape) {

  .main-container,
  .row-container {
    gap: var(--custom-720-gap);
  }

  .primary-card {
    border-radius: var(--custom-720-border-radius-big);
  }

  .secondary-container{
    border-radius: var(--custom-720-border-radius-medium);
  }

  .message-head-content {
    -webkit-line-clamp: 4;
    height: calc(1.15em* 5);
    padding: 3rem;
    font-size: 4.5rem;
  }

  .message-body-content {
    font-size: 2rem;
    padding: 2.5rem;
    -webkit-line-clamp: 17;
    height: calc(1.13em* 20);
  }

  .info-card {
    gap: 1rem;
  }

  .brand-logo {
    width: 7rem;
  }

  .info-text {
    font-size: 1rem;
  }

  .date-text {
    font-size: 4rem;
  }

  .date-number {
    font-size: 8rem;
  }

  .clock-div {
    transform: scale(0.35);
  }
}


@media screen and (max-width: 1080px) and (orientation: landscape) {
  .message-head-content {
    -webkit-line-clamp: 4;
    height: calc(1.15em* 5);
    padding: 6rem;
    font-size: 4.5rem;
  }

  .message-body-content {
    font-size: 2rem;
    padding: 2.5rem;
    -webkit-line-clamp: 17;
    height: calc(1.13em* 20);
  }

}


/* Tablets & Small Laptops - 1024×768 & 1024×600 */

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .message-head-content {
    font-size: 3.2rem;
    padding: 3rem;
  }

  .message-body-content {
    font-size: 1.5rem;
    height: calc(1.16em* 20);
  }

  .clock-card {
    width: 29.8%;
  }

  .brand-logo {
    width: 5rem;
  }

  .info-text {
    font-size: 1rem;
  }

  .date-text {
    font-size: 3rem;
  }

  .date-number {
    font-size: 6rem;
  }

  .clock-div {
    transform: scale(.25);
  }
}


/* Raspberry Pi Touch Display - Landscape 800 × 480 */

@media screen and (max-width: 800px) and (orientation: landscape) {

  .main-container {
    padding: var(--pi-padding);
  }

  .main-container,
  .row-container {
    gap: var(--pi-gap);
  }

  .primary-card {
    border-radius: var(--pi-border-radius-big);
  }

  .secondary-container, .secondary-card {
    border-radius: var(--pi-border-radius-medium);
  }


  .message-head-content {
    -webkit-line-clamp: 4;
    height: calc(1.20em* 5);
    padding: 2.5rem;
    font-size: 3rem;
  }

  .message-body-content {
    font-size: 1.25rem;
    padding: 2.5rem;
    -webkit-line-clamp: 18;
    height: calc(1.12em* 22);
  }

  .info-card {
    gap: 1rem;
  }

  .brand-logo {
    width: 5rem;
  }

  .info-text {
    font-size: .7rem;
  }


  .date-text {
    font-size: 2.5rem;
  }

  .date-number {
    font-size: 5rem;
  }

  .clock-card {
    width: 31.5%;
  }

  .clock-div {
    transform: scale(0.2);
  }
}

/* Portrait */

/* 4K Portrait - 2160 × 4096 */

@media screen and (max-width: 2160px) and (orientation: portrait) {
  .secondary-container {
    border-radius: var(--custom-4k-border-radius-medium);
  }

  .message-head-content {
    -webkit-line-clamp: 6;
    height: calc(1.15em* 7);
  }

  .message-body-content {
    padding: 6rem;
    -webkit-line-clamp: 9;
    height: calc(1.13em* 11);
  }

  .info-card {
    gap: 5rem;
  }

  .brand-logo {
    width: 22rem;
  }

  .info-text {
    font-size: 3rem;
  }

  .date-text {
    font-size: 10rem;
  }

  .date-number {
    font-size: 23rem;
  }

  .clock-div {
    transform: scale(.85);
  }

}


/* Full HD Portrait - 1080 × 1920 */

@media screen and (max-width: 1080px) and (orientation: portrait) {
  .secondary-container {
    border-radius: var(--hd-border-radius-medium);
  }

  .main-container,
  .row-container {
    gap: var(--hd-gap);
  }

  .message-head-content {
    font-size: 7rem;
    padding: 5rem;
  }

  .message-body-content {
    font-size: 3rem;
    padding: 4rem;
    -webkit-line-clamp: 8;
    height: calc(1.13em* 10);
  }

  .brand-logo {
    width: 10rem;
  }

  .info-text {
    font-size: 1.7rem;
  }

  .date-text {
    font-size: 6rem;
  }

  .date-number {
    font-size: 12rem;
  }

  .clock-card {
    width: 31.2%;
  }

  .clock-div {
    transform: scale(.45);
  }
}

/* HD Portrait - 720 × 1280 */

@media screen and (max-width: 720px) and (orientation: portrait) {

  .main-container,
  .row-container {
    gap: var(--custom-720-gap);
  }

  .message-head-content {
    font-size: 4.5rem;
    padding: 4rem;
    -webkit-line-clamp: 6;
    height: calc(1.17em* 7);
  }

  .message-body-content {
    font-size: 2rem;
    padding: 2.5rem;
    -webkit-line-clamp: 8;
    height: calc(1.14em* 10);
  }

  .info-card {
    gap: 1rem;
  }

  .brand-logo {
    width: 7rem;
  }

  .info-text {
    font-size: 1.1rem;
  }

  .date-text {
    font-size: 4rem;
  }

  .date-number {
    font-size: 8rem;
  }

  .clock-card {
    width: 30%;
  }

  .clock-div {
    transform: scale(.3);
  }
}


/* Raspberry Pi Touch Display - Portrait 480 × 800 */

@media screen and (max-width: 480px) and (orientation: portrait) {

  .main-container,
  .row-container {
    gap: var(--pi-gap);
  }

  .secondary-container {
    border-radius: var(--pi-border-radius-medium);
  }

  .message-head-content {
    font-size: 3.5rem;
    padding: 2rem;
    -webkit-line-clamp: 5;
    height: calc(1.17em* 6);
  }

  .message-body-content {
    font-size: 1.3rem;
    padding: 1.2rem;
    -webkit-line-clamp: 8;
    height: calc(1.23em* 9);
  }

  .brand-logo {
    width: 4rem;
  }

  .info-text {
    font-size: .7rem;
  }

  .date-text {
    font-size: 2.5rem;
  }

  .date-number {
    font-size: 5rem;
  }

  .clock-card {
    width: 31.23%;
  }

  .clock-div {
    transform: scale(0.2);
  }

}