.ScheduleCalendarView {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  * {
    color: var(--theme-color-text);
  }

  &.primary-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    .events-container {
      width: 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      border-top-color: var(--theme-color-secondary);
      border-top-style: solid;

      .event-row {
        display: contents;

        .event-time {
          text-align: right;
          border-bottom-color: var(--theme-color-secondary);
          border-bottom-style: solid;
          font-feature-settings: 'tnum';

          &:first-child {
            border-top: none;
          }
        }

        .event-title {
          border-bottom-color: var(--theme-color-secondary);
          border-bottom-style: solid;

          &:first-child {
            border-top: none;
          }

          .event-dot {
            color: var(--theme-color-primary);
          }
        }
      }

      .no-events {
        grid-column: 1 / -1;
        color: var(--theme-color-text);
        opacity: 0.6;
        text-align: center;
      }
    }
  }
}

@mixin schedule-calendar-view($orientation: 'landscape', $multiplier: 1) {
  .ScheduleCalendarView {
    &.primary-card {
      padding: 1.5rem * $multiplier;

      .events-heading {
        font-size: 0.6rem * $multiplier;

        @if $orientation == 'portrait' {
          margin-top: 1rem * $multiplier;
          margin-bottom: 0.5rem * $multiplier;
        } @else {
          margin-top: 1rem * $multiplier;
          margin-bottom: 0.5rem * $multiplier;
        }
      }

      .events-container {
        border-top-width: 0.01rem * $multiplier;

        .event-row {
          .event-time {
            padding-top: 1.1rem * $multiplier;
            padding-bottom: 1.1rem * $multiplier;
            padding-right: 2rem * $multiplier;
            font-size: 0.85rem * $multiplier;
            border-bottom-width: 0.01rem * $multiplier;
          }

          .event-title {
            padding-top: 1.1rem * $multiplier;
            padding-bottom: 1.1rem * $multiplier;
            font-size: 0.85rem * $multiplier;
            border-bottom-width: 0.01rem * $multiplier;

            .event-dot {
              font-size: 1rem * $multiplier;
              margin-right: 0.5rem * $multiplier;
            }
          }
        }

        .no-events {
          font-size: 0.85rem * $multiplier;
          padding: 2rem * $multiplier;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1279px) and (orientation: landscape) {
  @include schedule-calendar-view('landscape', 0.75);
}

@media screen and (min-width: 480px) and (max-width: 719px) and (orientation: portrait) {
  @include schedule-calendar-view('portrait', 1);
}

@media screen and (min-width: 1280px) and (max-width: 1919px) and (orientation: landscape) {
  @include schedule-calendar-view('landscape', 1.3);
}

@media screen and (min-width: 720px) and (max-width: 1079px) and (orientation: portrait) {
  @include schedule-calendar-view('portrait', 1.6);
}

@media screen and (min-width: 1920px) and (max-width: 3839px) and (orientation: landscape) {
  @include schedule-calendar-view('landscape', 2);
}

@media screen and (min-width: 1080px) and (max-width: 2159px) and (orientation: portrait) {
  @include schedule-calendar-view('portrait', 2.4);
}

@media screen and (min-width: 3840px) and (orientation: landscape) {
  @include schedule-calendar-view('landscape', 4.5);
}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  @include schedule-calendar-view('portrait', 4.8);
}
