.ScheduleCalendarView {
  &.primary-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;

    .schedule-day-section {
      width: 100%;

      .day-header {
        color: var(--theme-color-text);
        font-weight: 500;
      }

      .events-list {
        display: flex;
        flex-direction: column;
        width: 100%;

        .schedule-event-block {
          background-color: #e6e7e7;
          border-left-style: solid;
          border-left-color: var(--theme-color-primary);
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .event-title {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .event-time {
            opacity: 0.95;
          }
        }

        .no-events {
          color: var(--theme-color-text);
          opacity: 0.6;
          text-align: center;
        }
      }
    }
  }
}

@mixin schedule-calendar-view($orientation: 'landscape', $multiplier: 1) {
  .ScheduleCalendarView {
    &.primary-card {
      padding: 1.5rem * $multiplier;
      gap: 1rem * $multiplier;

      .schedule-day-section {
        .day-header {
          font-size: 0.7rem * $multiplier;
          margin-bottom: 0.5rem * $multiplier;
        }

        .events-list {
          gap: 0.3rem * $multiplier;

          .schedule-event-block {
            padding: 0.5rem * $multiplier 0.6rem * $multiplier;
            border-radius: 0.15rem * $multiplier;
            border-left-width: 0.17rem * $multiplier;

            .event-title {
              font-size: 0.5rem * $multiplier;
              margin-bottom: 0.1rem * $multiplier;
            }

            .event-time {
              font-size: 0.4rem * $multiplier;
            }
          }

          .no-events {
            font-size: 0.85rem * $multiplier;
            padding: 2rem * $multiplier;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1279px) and (orientation: landscape) {
  @include schedule-calendar-view('landscape', 0.65);
}

@media screen and (min-width: 480px) and (max-width: 719px) and (orientation: portrait) {
  @include schedule-calendar-view('portrait', 1);
}

@media screen and (min-width: 1280px) and (max-width: 1919px) and (orientation: landscape) {
  @include schedule-calendar-view('landscape', 1.3);
}

@media screen and (min-width: 720px) and (max-width: 1079px) and (orientation: portrait) {
  @include schedule-calendar-view('portrait', 1.6);
}

@media screen and (min-width: 1920px) and (max-width: 3839px) and (orientation: landscape) {
  @include schedule-calendar-view('landscape', 2);
}

@media screen and (min-width: 1080px) and (max-width: 2159px) and (orientation: portrait) {
  @include schedule-calendar-view('portrait', 2.4);
}

@media screen and (min-width: 3840px) and (orientation: landscape) {
  @include schedule-calendar-view('landscape', 4.5);
}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  @include schedule-calendar-view('portrait', 4.8);
}
