/* stylelint-disable selector-class-pattern, color-hex-length, at-rule-no-unknown, media-feature-range-notation, at-rule-empty-line-before */

@use 'blueprint/scss/base.scss' as *;

/* Global Fonts */
@font-face {
  font-family: Inter;
  src:
    url('@/assets/font/Inter-VariableFont_opsz_wght.ttf') format('truetype'),
    url('@/assets/font/Inter-Italic-VariableFont_opsz_wght.ttf')
      format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

/* Colors (Theme) */
:root {
  --theme-color-primary: #972eff;
  --theme-color-secondary: #adafbe;
  --theme-color-tertiary: #fff;
  --theme-color-background: #c9cdd0;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
