*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  src: url("../../static/fonts/Barlow-Regular.woff") format("woff");
}

html,
body {
  height: 100%;
  font-size: 16px;
}

body {
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../static/images/bg/default-min.jpg");
  background-size: cover;
  color: #fff;
  font-family: Barlow, sans-serif;
  transition: background-image 0.5s ease-in-out;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.location {
  display: flex;
  flex: 1;
}

.location-item {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

.location-item + .location-item {
  margin-left: 2rem;
}

.location-item img,
.location-item svg {
  margin-right: 10px;
  width: 0.9rem;
}

.upgrade-banner {
  background: #7732b7;
  border-radius: 60px;
  color: #fff;
  display: none;
  font-size: 10px;
  padding: 10px 20px;
  text-decoration: none;
  width: fit-content;
}

.visible {
  display: inline-block;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#current-temp {
  vertical-align: top;
}

.weather-condition {
  display: flex;
  align-items: center;
}

#current-weather-status {
  margin-left: 8px;
  text-transform: capitalize;
}

#weather-item-list {
  display: flex;
  align-self: flex-end;
  margin-bottom: 25px;
}

.dummy-node {
  display: none !important;
}

.weather-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-item .item-icon {
  margin-top: 0.5rem;
}

.weather-item .item-time {
  margin-top: 0.5rem;
  white-space: nowrap;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.error h2 {
  text-align: center;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.loader {
  border: 7px solid #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
  animation: spin 0.7s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (min-width: 800px) {
  .content {
    padding: 4rem;
  }

  .error h2 {
    font-size: 15px;
  }

  .loader {
    border-width: 4px;
    width: 45px;
    height: 45px;
  }

  .location {
    font-size: 0.875rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 7.5rem;
    line-height: 6rem;
  }

  #current-temp-scale {
    font-size: 2.5rem;
  }

  .weather-item + .weather-item {
    margin-left: 2.5rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 24px;
  }

  .content {
    padding: 3.3rem;
  }

  .error h2 {
    font-size: 24px;
  }

  .loader {
    border-width: 7px;
    width: 70px;
    height: 70px;
  }

  .location {
    font-size: 0.75rem;
  }

  .upgrade-banner {
    font-size: 16px;
    padding: 10px 30px;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 8.3rem;
    line-height: 7rem;
  }

  #current-temp-scale {
    font-size: 2.75rem;
  }

  .weather-item + .weather-item {
    margin-left: 3rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1920px) {
  html {
    font-size: 40px;
  }

  .content {
    padding: 2.25rem;
  }

  .error h2 {
    font-size: 36px;
  }

  .loader {
    border-width: 10.5px;
    width: 105px;
    height: 105px;
  }

  .location {
    font-size: 0.6rem;
  }

  .upgrade-banner {
    font-size: 24px;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 8.3rem;
    line-height: 7rem;
  }

  #current-temp-scale {
    font-size: 2.75rem;
  }

  .weather-item + .weather-item {
    margin-left: 2.3rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2560px) {
  html {
    font-size: 48px;
  }

  .content {
    padding: 3.125rem;
  }

  .error h2 {
    font-size: 48px;
  }

  .loader {
    border-width: 14px;
    width: 140px;
    height: 140px;
  }

  .location {
    font-size: 0.66rem;
  }

  .upgrade-banner {
    font-size: 32px;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 8.3rem;
    line-height: 7rem;
  }

  #current-temp-scale {
    font-size: 2.75rem;
  }

  .weather-item + .weather-item {
    margin-left: 2.6rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 3840px) {
  html {
    font-size: 64px;
  }

  .content {
    padding: 3.125rem;
  }

  .error h2 {
    font-size: 72px;
  }

  .loader {
    border-width: 21.5px;
    width: 215px;
    height: 215px;
  }

  .location {
    font-size: 0.75rem;
  }

  .upgrade-banner {
    font-size: 48px;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 8.3rem;
    line-height: 7rem;
  }

  #current-temp-scale {
    font-size: 2.75rem;
  }

  .weather-item + .weather-item {
    margin-left: 3.3rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (orientation: portrait) {
  html {
    font-size: 20px;
  }

  .content {
    padding: 1rem 1.1rem 1.1rem;
  }

  .header {
    flex-direction: column-reverse;
    align-items: center;
  }

  .location {
    flex-direction: column;
    font-size: 0.9rem;
    justify-content: center;
    margin-top: 1.2rem;
    width: 100%;
  }

  .location-item + .location-item {
    margin-top: 0.3rem;
    margin-left: 0;
  }

  .location-item img,
  .location-item svg {
    width: 0.9rem;
    margin-right: 5px;
  }

  .upgrade-banner {
    font-size: 0.6rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 6rem;
    line-height: 4.5rem;
  }

  #current-temp-scale {
    font-size: 2rem;
  }

  #weather-item-list {
    justify-content: space-between;
    align-self: unset;
    margin-top: 25px;
  }

  .weather-item + .weather-item {
    margin-left: 1rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2rem;
  }

  .weather-item .item-time {
    font-size: 0.6rem;
  }

  .footer {
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) and (orientation: portrait) {
  html {
    font-size: 16px;
  }

  .content {
    padding: 2rem 2.5rem 2.5rem;
  }

  .error h2 {
    font-size: 20px;
  }

  .loader {
    border-width: 4px;
    width: 45px;
    height: 45px;
  }

  .location {
    flex-direction: row;
    font-size: 0.875rem;
    margin-top: 1.6rem;
  }

  .location-item + .location-item {
    margin-left: 2.5rem;
  }

  .location-item img,
  .location-item svg {
    margin-right: 10px;
    width: 1.2rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 7.5rem;
    line-height: 6rem;
  }

  #current-temp-scale {
    font-size: 2.5rem;
  }

  #weather-item-list {
    margin-top: 30px;
  }

  .weather-item + .weather-item {
    margin-left: 2.8rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 720px) and (orientation: portrait) {
  html {
    font-size: 24px;
  }

  .content {
    padding: 2.66rem 2.7rem 2.7rem;
  }

  .error h2 {
    font-size: 24px;
  }

  .loader {
    border-width: 7px;
    width: 70px;
    height: 70px;
  }

  .location {
    font-size: 0.875rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 8.33rem;
    line-height: 6.5rem;
  }

  #current-temp-scale {
    font-size: 2.75rem;
  }

  #weather-item-list {
    margin-top: 30px;
  }

  .weather-item + .weather-item {
    margin-left: 1.5rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1080px) and (orientation: portrait) {
  html {
    font-size: 40px;
  }

  .content {
    padding: 3.25rem 2.1rem 2.1rem;
  }

  .error h2 {
    font-size: 36px;
  }

  .loader {
    border-width: 10.5px;
    width: 105px;
    height: 105px;
  }

  .location {
    font-size: 0.9rem;
  }

  .location-item + .location-item {
    margin-left: 1rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 8.5rem;
    line-height: 6.5rem;
  }

  #current-temp-scale {
    font-size: 2.75rem;
  }

  #weather-item-list {
    margin-top: 75px;
  }

  .weather-item + .weather-item {
    margin-left: 1.5rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1.25rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1440px) and (orientation: portrait) {
  html {
    font-size: 48px;
  }

  .content {
    padding: 2.66rem;
  }

  .error h2 {
    font-size: 48px;
  }

  .loader {
    border-width: 14px;
    width: 140px;
    height: 140px;
  }

  .location {
    font-size: 0.66rem;
    margin-top: 1.8rem;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-temp {
    font-size: 8.33rem;
    line-height: 6.5rem;
  }

  #current-temp-scale {
    font-size: 2.75rem;
  }

  .weather-item + .weather-item {
    margin-left: 2.8rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  html {
    font-size: 64px;
  }

  .content {
    padding: 3.24rem 2.5rem 2.5rem;
  }

  .error h2 {
    font-size: 72px;
  }

  .loader {
    border-width: 21.5px;
    width: 215px;
    height: 215px;
  }

  .location {
    font-size: 0.9rem;
    margin-top: 1.42rem;
  }

  .location-item img,
  .location-item svg {
    margin-right: 20px;
  }

  .weather-condition {
    font-size: 1rem;
  }

  #current-weather-icon {
    width: 2rem;
  }

  #current-weather-status {
    margin-left: 20px;
  }

  #current-temp {
    font-size: 7.8rem;
    margin-bottom: 2rem;
  }

  #current-temp-scale {
    font-size: 2.5rem;
  }

  #weather-item-list {
    margin-top: 30px;
  }

  .weather-item + .weather-item {
    margin-left: 3.67rem;
  }

  .weather-item .item-temp-degree {
    font-size: 1rem;
  }

  .weather-item .item-icon {
    width: 2.5rem;
  }

  .weather-item .item-time {
    font-size: 1rem;
  }
}
