/* stylelint-disable media-feature-range-notation */

/* Modifiers */

.main-container {
  height: 100%;
  width: 100%;
  padding: 1em;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1.75fr 1fr;
  grid-template-columns: 1.5fr .25fr .25fr .25fr .25fr;

}

.primary-card {
  width: 100%;
  line-height: unset;
}


/* Custom Cards */


.main-weather-card, .time-date-card, .weather-card, .info-card {
  border-radius: 1rem;
  gap: 1rem
}

/* Main Weather Card */

.main-weather-card {
  grid-column: 1 /3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.temperature-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: .5rem;
  color: var(--theme-color-tertiary);
  line-height: 0.7;
}

.temperature-text {
  color: var(--theme-color-tertiary);
  font-size: 12rem;
}

.temperature-degree-sign {
  font-size: 5rem;
}

.temperature-unit {
  font-size: 5rem;
}

.weather-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--theme-color-tertiary);
}

.weather-description {
  font-size: 2rem;
}

.time-date-card {
  grid-column: 3/6;
  grid-row: 1;
  background-color: var(--theme-color-background);
  display: flex;
  flex-direction: column;
}

.time-card, .date-card {
  height: 50%;
  width: 100%;
  border-radius: 1rem;

}


/* Time Card */

.time-card {
  background-color: var(--theme-color-tertiary);
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: .5rem;
}

.time-text-hour, .time-text-minutes, .time-text-separator {
  font-size: 4.5rem;
  color: var(--theme-color-primary);
}

.time-ampm {
  font-size: 1.5rem;
  color: var(--theme-color-secondary);
}

/* Date Card */

.date-card {
  background-color: var(--theme-color-tertiary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.date-text {
  font-size: 3.5rem;
  color: var(--theme-color-secondary);
}

.date-number {
  font-size: 3.5rem;
  color: var(--theme-color-primary);
}




/* Weather Card */

.weather-card {
  grid-column: 1/4;
  grid-row: 2;
  background-color: var(--theme-color-tertiary);
}

.weather-card-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  line-height: 0;
  gap: 1rem;
  height: 100%;
}

.weather-card-content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .3rem;
  height: 100%;
}

.weather-card-temperature-text {
  font-size: 1.3rem;
}

.weather-card-temperature-degree-sign {
  font-size: 1.5rem;
}

.weather-card-weather-icon {
  width: 5rem;
}


.weather-card-content-item-temperature-time {
  font-size: 1.3rem;
}


.weather-card-content-item-temperature-text {
  display: flex;
  letter-spacing: 0.1rem;
}

/* brand logo  card */

.brand-logo {
  width: 4.5rem;
}

.info-text {
  font-size: .6rem;
}


.info-card {
  color: var(--theme-color-primary);
  grid-column: 4/6;
  grid-row: 2;
  gap: 1rem;
}


/* Media Queries */


@media (orientation: portrait) {
  .main-container {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .main-weather-card {
    width: 100%;
    height: 50%;
    order: 0;
  }

  .weather-card {
    order: 1;
    width: 100%;
    height: 23.49%;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .weather-card-content {
    height: 100%;
    gap: 2.5rem;
    overflow: hidden;
    justify-content: space-around;
  }


  /* -------- */

  .time-date-card {
    flex-direction: row;
    width: 100%;
    height: 26.51%;
    order: 2;
  }

  .time-card {
    align-items: center;
    flex-direction: row;
  }

  .time-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    height: 100%;
    letter-spacing: .5rem;
  }

  .time-text-hour, .time-text-minutes {
    font-size: 5rem;
  }

  .time-ampm-container {
    padding-top: 8.5rem;
    position: absolute;
    padding-left: 9rem;
  }

  .time-card, .date-card {
    height: 100%;
  }

  .date-card {
    flex-direction: column;
    gap: 0.25rem;
  }

  .date-text {
    font-size: 3.5rem;
  }

  .date-number {
    font-size: 7rem;
  }

  /* -------- */

  .info-card, .time-text-separator {
    display: none;
  }


}


@media screen and (min-width: 480px) and (min-height: 800px) and (orientation: portrait) {
  .temperature-text-number {
    font-size: 13rem;
  }

  .weather-card-content-item {
    gap: .6rem;
  }

  .weather-card-temperature-text,
  .weather-card-content-item-temperature-time {
    font-size: 1.3rem;
  }

  .weather-card-weather-icon {
    width: 5rem;
  }

}

@media screen and (min-width: 720px) and (min-height: 1280px) and (orientation: portrait) {
  .main-container {
    gap: 2rem;
    padding: 2rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card, .time-card, .date-card {
    border-radius: 2rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card {
    gap: 1rem;
  }

  .temperature-text-number {
    font-size: 20rem;
  }

  .temperature-unit-text {
    font-size: 7rem;
  }

  .weather-card-content-item {
    gap: .6rem;
  }

  .weather-card-temperature-text,
  .weather-card-content-item-temperature-time {
    font-size: 2rem;
  }

  .weather-card-weather-icon {
    width: 9rem;
  }

  .time-text-hour, .time-text-minutes {
    font-size: 7rem;
  }

  .time-ampm {
    font-size: 2rem;
  }

  .time-ampm-container {
    padding-top: 11.5rem;
    padding-left: 13rem;
  }

  .date-text {
    font-size: 6rem;
  }

  .date-number {
    font-size: 10rem;
  }
}



@media screen and (min-width: 800px) and (min-height: 480px) and (orientation: landscape) {
  .main-container {
    gap: 1rem;
    padding: 1rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card, .time-card, .date-card {
    border-radius: 1.2rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card {
    gap: 1rem;
  }

  .date-text, .date-number {
    font-size: 4rem;
  }


  .brand-logo {
    width: 4.5rem;
  }

  .info-text {
    font-size: .6rem;
  }

  .info-card {
    gap: 1rem;
  }
}


@media screen and (min-width: 1080px) and (min-height: 1920px) and (orientation: portrait) {
  .main-container {
    gap: 2.5rem;
    padding: 2.5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card, .time-card, .date-card {
    border-radius: 2.5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card {
    gap: 2.5rem;
  }

  .temperature-text-number {
    font-size: 30rem;
  }

  .temperature-unit-text {
    font-size: 12rem;
  }

  .weather-card-content-item {
    gap: .6rem;
  }

  .weather-card-temperature-text,
  .weather-card-content-item-temperature-time {
    font-size: 3rem;
  }

  .weather-card-temperature-degree-sign {
    font-size: 3.5rem;
  }

  .weather-card-weather-icon {
    width: 15rem;
  }

  .time-text-hour,
  .time-text-minutes {
    font-size: 11rem;
  }

  .time-ampm {
    font-size: 3rem;
  }

  .time-ampm-container {
    padding-top: 19rem;
    padding-left: 19rem;
  }

  .date-text {
    font-size: 8rem;
  }

  .date-number {
    font-size: 15rem;
  }
}

@media screen and (min-width: 1280px) and (min-height: 720px) and (orientation: landscape) {
  .main-container {
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card, .time-card, .date-card {
    border-radius: 1.5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card {
    gap: 1.5rem;
  }

  .time-text-hour, .time-text-minutes, .time-text-separator {
    font-size: 7rem;
  }

  .time-ampm {
    font-size: 2rem;
  }

  .temperature-text-number {
    font-size: 23rem;
  }

  .temperature-unit-text {
    font-size: 6rem;
  }

  .date-text,
  .date-number {
    font-size: 5.5rem;
  }

  .weather-card-temperature-text,
  .weather-card-content-item-temperature-time {
    font-size: 1.5rem;
  }

  .weather-card-temperature-degree-sign {
    font-size: 1.5rem;
  }

  .weather-card-weather-icon {
    width: 8.5rem;
  }

  .brand-logo {
    width: 7.5rem;
  }

  .info-text {
    font-size: .9rem;
  }
}


@media screen and (min-width: 1920px) and (min-height: 1080px) and (orientation: landscape) {
  .main-container {
    gap: 2.5rem;
    padding: 2.5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card, .time-card, .date-card {
    border-radius: 2rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card {
    gap: 1.5rem;
  }

  .temperature-text-number {
    font-size: 32rem;
  }

  .temperature-unit-text {
    font-size: 9rem;
  }

  .time-card {
    gap: 1.5rem
  }

  .time-text-hour, .time-text-minutes, .time-text-separator {
    font-size: 10rem;
  }

  .time-ampm {
    font-size: 3rem;
  }

  .date-text, .date-number {
    font-size: 9rem;
  }

  .weather-card-temperature-text,
  .weather-card-content-item-temperature-time {
    font-size: 2.3rem;
  }

  .weather-card-temperature-degree-sign {
    font-size: 2.7rem;
  }

  .weather-card-weather-icon {
    width: 13rem;
  }

  .brand-logo {
    width: 12rem;
  }


  .info-text {
    font-size: 1.5rem;
  }

}


@media screen and (min-width: 2160px) and (min-height: 3840px) and (orientation: portrait) {
  .main-container {
    gap: 5rem;
    padding: 5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card, .time-card, .date-card {
    border-radius: 5.5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card {
    gap: 5rem;
  }

  .temperature-text-number {
    font-size: 65rem;
  }

  .temperature-unit-text {
    font-size: 18rem;
  }

  .weather-card-temperature-text, .weather-card-content-item-temperature-time {
    font-size: 6rem;
  }

  .weather-card-temperature-degree-sign {
    font-size: 7rem;
  }

  .weather-card-weather-icon {
    width: 33rem;
  }

  .time-text-container {
    letter-spacing: 1rem;
  }

  .time-text-hour, .time-text-minutes {
    font-size: 20rem;
  }

  .time-ampm-container {
    padding-top: 29rem;
    padding-left: 42rem;
  }

  .time-ampm {
    font-size: 8rem;
  }

  .date-text {
    font-size: 17rem;
  }

  .date-number {
    font-size: 34rem;
  }
}

@media screen and (min-width: 3840px) and (min-height: 2160px) and (orientation: landscape) {
  .main-container {
    gap: 5rem;
    padding: 5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card, .time-card, .date-card {
    border-radius: 5rem;
  }

  .main-weather-card, .time-date-card, .weather-card, .info-card {
    gap: 5rem;
  }

  .temperature-text-number {
    font-size: 55rem;
  }

  .temperature-unit-text {
    font-size: 15rem;
  }

  .time-text-hour, .time-text-minutes, .time-text-separator {
    font-size: 20rem;
  }

  .time-ampm {
    font-size: 6rem;
  }

  .date-text, .date-number {
    font-size: 17rem;
  }

  .weather-card-temperature-text, .weather-card-content-item-temperature-time {
    font-size: 5rem;
  }

  .weather-card-temperature-degree-sign {
    font-size: 6rem;
  }

  .weather-card-weather-icon {
    width: 27rem;
  }

  .brand-logo {
    width: 20rem;
  }

  .info-text {
    font-size: 3em;
  }

}

@media screen and (min-width: 4096px) and (orientation: landscape) {
  .date-text, .date-number {
    font-size: 19rem;
  }

  .date-card {
    gap: 4rem;
  }

  .weather-card-weather-icon {
    width: 28rem;
  }

}