/* stylelint-disable selector-class-pattern, color-hex-length, at-rule-no-unknown, media-feature-range-notation, at-rule-empty-line-before */

@use 'blueprint/scss/base.scss' as *;

:root {
  --theme-color-secondary: #c9cdd0;
  --theme-color-accent: #ffb092;
  --theme-color-text: #000;
}

.main-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 100%;
  padding: 2rem;
  background-color: var(--theme-color-background);
}

.primary-card {
  width: 100%;
  background-color: var(--theme-color-tertiary);
  order: 1;
}

@media screen and (max-width: 800px) {
  .primary-card {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .main-container {
    flex-direction: column;
    padding: 2.5rem;
    gap: 3rem;
  }

  .primary-card {
    width: 100%;
    height: 100%;
    order: 0;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
  .main-container {
    padding: 1.1rem;
    gap: 1.32rem;
  }

  .primary-card {
    height: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 720px) and (orientation: portrait) {
  .main-container {
    padding: 1.675rem;
    gap: 2.01rem;
  }

  .primary-card {
    height: 100%;
  }
}

@media screen and (min-width: 2160px) and (orientation: portrait) {
  .main-container {
    padding: 5rem;
    gap: 6rem;
  }

  .primary-card {
    height: 100%;
  }
}

@media screen and (min-width: 3840px) and (orientation: landscape) {
  .main-container {
    padding: 4rem;
    gap: 4rem;
  }
}
