/**
 * Font Loading
 * Import fonts needed for the design system
 * Inter fonts are bundled with the edge-apps-library
 */

/* Inter font family - default UI font for Edge Apps */
@font-face {
  font-family: Inter;
  src: url('../../assets/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../../assets/fonts/Inter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Inter;
  src: url('../../assets/fonts/Inter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
