---
#################################
#################################
## Super Linter GitHub Actions ##
#################################
#################################
name: Lint Code Base

#
# Documentation:
# https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions
#

#############################
# Start the job on all push #
#############################
on:
  push:
    branches-ignore: [master, main]
    # Remove the line above to run when pushing to master
  pull_request:
    branches: [master, main]

###############
# Set the Job #
###############
jobs:
  build:
    # Name the Job
    name: Lint Code Base
    # Set the agent to run on
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    ##################
    # Load all steps #
    ##################
    steps:
      ##########################
      # Checkout the code base #
      ##########################
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          # Full git history is needed to get a proper list of changed files within `super-linter`
          fetch-depth: 0
          persist-credentials: false

      ################################
      # Run Linter against code base #
      ################################
      - name: Lint Code Base
        uses: super-linter/super-linter@12562e48d7059cf666c43a4ecb0d3b5a2b31bd9e
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_EDITORCONFIG: false
          VALIDATE_HTML: false
          VALIDATE_TYPESCRIPT_ES: false
          VALIDATE_TYPESCRIPT_PRETTIER: false
          VALIDATE_TYPESCRIPT_STANDARD: false
          VALIDATE_VUE: false
          VALIDATE_VUE_PRETTIER: false
          VALIDATE_JSCPD: false
          VALIDATE_CHECKOV: false
          VALIDATE_TRIVY: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          CSS_FILE_NAME: stylelint.config.cjs
          DEFAULT_BRANCH: master
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          FILTER_REGEX_EXCLUDE: '.*edge-apps/powerbi-legacy/.*'
          PRETTIER_COMMAND_OPTIONS: '--config .github/linters/.prettierrc.json --check'
          ENABLE_GITHUB_ACTIONS_GROUP_TITLE: false
          ENABLE_GITHUB_PULL_REQUEST_SUMMARY_COMMENT: false
          ENABLE_GITHUB_ACTIONS_STEP_SUMMARY: false
